
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  background-color: #fff;
  color: #9e9aa8;
}

img {
  max-width: 100%;
  height: auto;
}



.container{
  max-width: 1140px;
  padding-left: 15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
}
body{
  margin:0;
}
.main{
  background-image: url(../img/fon_img.svg);
  padding-top: 50px;
  padding-bottom: 50px;
}

.try{
  display: flex;
  align-items: center;
}
.information{
  width: 525px;
  color: #fff;

}
.information h2{
   font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}
.information p{
  height: 78px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.second-column{
  width:560px;
  height:auto;

}

.free{
  display: block;
  text-decoration: none;
  background-color:#5E54A4;
  text-align: center;
  padding-top:21px;
  padding-bottom: 21px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  border-radius:15px;

}

.form {
  padding: 40px;
  margin-top: 20px;
  border-radius:15px;
  background-color: #fff
}

.claime{
  background-color:#38CC8B;
  color: #fff;
  transition:background-color 1s ease,
  color 0.9s ease;
}
.claime:hover{
  background-color: #65efb3;
  color:#fff;
}


.name {
  width: 460px;
  padding: 15px 32px;
  margin-top:20px;
  border-radius:14px;

}





.p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
}

.and{
  text-decoration: none;
  text-align: center;
  color: red;
}



